###
# Unity folders and files
###
/saddlebagSaloon/[Aa]ssets/AssetStoreTools*
/saddlebagSaloon/[Bb]uild/
/saddlebagSaloon/[Ll]ibrary/
/saddlebagSaloon/[Ll]ocal[Cc]ache/
/saddlebagSaloon/[Oo]bj/
/saddlebagSaloon/[Tt]emp/
/saddlebagSaloon/[Uu]nityGenerated/
# file on crash reports
sysinfo.txt
# Unity3D generated meta files
*.pidb.meta

###
# VS/MD solution and project files
###
[Ee]xportedObj/
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb
.DS_Store

###
# OS generated
###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db